# OS files
.DS_Store

# dependencies
node_modules/

# environment variables
.env

# build output
/build
dist/

# firebase
.firebase/

# editor / IDE
.vscode/
.idea/

# vite config backups / temp
vite.config.*s.*
